<footer class="footer">
  <div class="footer-subscription">
    <div class="footer-subscription__container">
      <div class="footer-subscription__text">
        <span class="footer-subscription__subtitle regular fs-18">актуально</span>
        <h2 class="footer-subscription__title extra-bold fs-26">Получайте полезные рассылки о путешествиях</h2>
      </div>

      <div class="footer-subscription__form-wrapper">
        <form class="footer-subscription__form">
          <label for="email" class="footer-subscription__label semi-bold fs-16">Введите e-mail адрес</label>
          <div class="footer-subscription__input-group">
            <input type="email" id="email" class="footer-subscription__input fs-14" placeholder="name@domain.com">
            <button type="submit" class="footer-subscription__button semi-bold fs-16">Подписаться на новости</button>
          </div>
        </form>
        <p class="footer-subscription__policy semi-bold fs-14">
          подписываясь на новости, вы автоматически соглашаетесь с 
          <a href="#">условиями обработки персональных данных</a> и 
          <a href="#">правилами рекламных рассылок</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-content__column--info">
        <h3 class="footer-content__title bold fs-20">Компания «РумТибет»</h3>
        <p class="footer-content__text regular fs-14">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
        <div class="footer-content__contacts semi-bold fs-14">
          <a href="mailto:info@domain.com" class="footer-content__contact-link">info@domain.com</a>
          <a href="tel:+71234567890" class="footer-content__contact-link">+7 (123) 456-78-90</a>
        </div>
        <div class="footer-content__socials">
          <a href="#" class="social-link"><img src="/images/telegram-icon.svg" alt="Telegram" class="social-link__icon"></a>
          <a href="#" class="social-link"><img src="/images/vk-icon.svg" alt="VK" class="social-link__icon"></a>
          <a href="#" class="social-link"><img src="/images/pinterest-icon.svg" alt="Pinterest" class="social-link__icon"></a>
          <a href="#" class="social-link"><img src="/images/skype-icon.svg" alt="Skype" class="social-link__icon"></a>
        </div>
      </div>

      <div class="footer-content__column--services">
        <h3 class="footer-content__title bold fs-20">Наши услуги</h3>
        <ul class="footer-content__list regular fs-14">
          <li><a href="#" class="footer-content__link">Прогулки в горы летом</a></li>
          <li><a href="#" class="footer-content__link">Зимние походы в горы</a></li>
          <li><a href="#" class="footer-content__link">Посещение храмов в горах</a></li>
          <li><a href="#" class="footer-content__link">Экстремальные виды туризма</a></li>
          <li><a href="#" class="footer-content__link">Походы в джунглях Амазонии</a></li>
          <li><a href="#" class="footer-content__link">Поездка в Африку</a></li>
        </ul>
      </div>

      <div class="footer-content__column--travel">
        <h3 class="footer-content__title bold fs-20">Важно для путешествий</h3>
        <ul class="footer-content__list regular fs-14">
          <li><a href="#" class="footer-content__link">Как собрать в долгий поход?</a></li>
          <li><a href="#" class="footer-content__link">Жизненно важные предметы для похода</a></li>
          <li><a href="#" class="footer-content__link">Медицинская страховка, гарантии безопасности</a></li>
          <li><a href="#" class="footer-content__link">Если вы врач - загляните сюда</a></li>
        </ul>
      </div>
    </div>
  </div>

    <div class="footer-bottom semi-bold fs-14">
      <div class="footer-bottom__container">
        <p class="footer-bottom__copyright">ИП Константинопольский К.К., 2023</p>
        <a href="#" class="footer-bottom__policy">Политика обработки персональных данных</a>
      </div>
    </div>
</footer>
