<header>
  <div class="header-container">
    <div class="logo">
      <img src="/images/logo-icon.svg" alt="Логотип РУМТИБЕТ" class="logo-img" />
      <span class="bold">{{ companyName }}</span>
    </div>

    <nav class="navigation semi-bold fs-18">
      @for (link of navLinks; track link.path) {
        <a
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          {{ link.label }}
        </a>
      }
    </nav>

    <div class="header-right-column">
      <button class="consult-btn semi-bold">Консультация</button>
      <div class="interactive-zone">
        @if (showTask4) {
          <span>{{ currentTime }}</span>
        } @else {
          <div class="counter-controls">
            <button (click)="decrement()" [disabled]="counter <= 0">-</button>
            <span>{{ counter }}</span>
            <button (click)="increment()">+</button>
          </div>
        }

        <button (click)="toggleTask()">
          {{ showTask4 ? 'Показать кликер' : 'Показать дату' }}
        </button>
      </div>
    </div>
  </div>
</header>
