.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 9999;
}

.loader-icon {
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: var(--bg-header);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 120px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-container {
  width: 1180px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  span {
    color: var(--white-color-text);
    letter-spacing: 40%;
  }
}

.navigation {
  display: flex;
  gap: 24px;
  .nav-link {
    text-decoration: none;
    color: var(--white-color-text);
  }
}

.header-right-column {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  gap: 10px;
}

.consult-btn {
  width: 158px;
  height: 44px;
  background-color: var(--white-color-text);
  color: rgba(26, 62, 62, 1);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.interactive-zone {
  width: 270px;
  height: 44px;
  border: 2px solid #FFFFFF;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  color: #FFFFFF;
}

.hero {
  width: 100%;
  max-width: 1920px;
  height: 985px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url('/images/mountains-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.title {
  color: var(--white-color-text);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 2%;
  max-width: 1180px;
  width: 100%;
  margin-top: 551px;
}

.search-panel {
  max-width: 1180px;
  width: 100%;
  height: 161px;
  margin-top: 41px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 42px;
  box-sizing: border-box;
}

.search-inner {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  color: var(--white-color-text);
}

.search-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--white-color-text);
  width: 270px;
  line-height: 150%;
  letter-spacing: 0px;
}

.search-field__select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.search-btn {
  letter-spacing: 1.2%;
  line-height: 20px;
  background-color: var(--green-color-text);
  border-radius: 4px;
  width: 213px;
  height: 52px;
  gap: 10px;
  padding: 16px 36px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color-text);
  white-space: nowrap;
  &:disabled {
    background-color: #a0a0a0;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.field-label {
  position: relative;
  width: 270px;
  border-radius: 8px;
  border: 1px solid rgba(225, 227, 228, 1);
  box-sizing: border-box;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-value {
  display: block;
  padding: 0 8px;
}

.field-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.input-alignment-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.live-input-container {
  margin-top: 6px;
  display: flex;
  gap: 14px;
  width: 470px;
  height: 52px;
  border: none;
  border-radius: 8px;
  opacity: 1;
  align-items: center;
  color: white;
}

.live-input-container input {
  width: 270px;
  height: 52px;
  border: 1px solid #E1E3E4;
  border-radius: 8px;
  opacity: 1;
  padding: 0 16px;
  background-color: transparent;
  color: white;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 270px;
}

.arrow-input-icon {
  position: absolute;
  right: 15px;
  pointer-events: none;
  z-index: 10;
  width: 16px;
  height: 16px;
}

.about-hike {
  background: #FFFFFF;
  padding: 100px 0;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 120px;
}

.about-hike__images {
  position: relative;
  width: 480px;
  height: 526px;
  flex-shrink: 0;
}
.about-hike__img--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
}

.about-hike__img--front {
  position: absolute;
  top: 126px;
  left: 130px;
  width: 350px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
}

.about-hike__play-btn {
  position: absolute;
  top: 326px;
  left: 305px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.about-hike__content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about-hike__subtitle {
  margin-bottom: 8px;
  color: var(--yellow-color-text);
  letter-spacing: 0%;
  line-height: 20px;
}

.about-hike__title {
  margin-bottom: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--bg-page);
}

.about-hike__text {
  margin-bottom: 40px;
  line-height: 150%;
  letter-spacing: 0%;
}

.about-hike__btn {
  background-color: var(--green-color-text);
  color: var(--white-color-text);
  width: 200px;
  height: 52px;
  border-radius: 4px;
  padding: 16px 36px;
  border: none;
  cursor: pointer;
}

.programs {
  background-color: var(--bg-page-two);
  padding: 80px;
}

.programs__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 580px;
  color: var(--bg-page);
}

.programs__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.programs__subtitle {
  color: var(--yellow-color-text);
  line-height: 20px;
}

.programs__title {
  line-height: 120%;
}

.programs__text {
  line-height: 150%;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.programs__item {
  display: flex;
  align-items: center;
  width: 580px;
  gap: 16px;
}

.programs__item-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.programs__item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.programs__item-title {
  letter-spacing: 1.2%;
  line-height: 20px;
}

.programs__item-text {
  line-height: 20px;
}

.programs__btn {
  width: 236px;
  height: 52px;
  border-radius: 4px;
  padding: 16px 36px;
  border: none;
  cursor: pointer;
  background-color: var(--green-color-text);
  color: var(--white-color-text);
}

.programs__images {
  gap: 10px;
  width: 510px;
  height: 510px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: auto;
}

.programs__image-item {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3 ease;
}

.programs__image-item:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.programs__image-item:nth-child(1) {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.programs__image-item:nth-child(2) {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.programs__image-item:nth-child(3) {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.programs__image-item:nth-child(4) {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

