<section class="hero">
  <h1 class="title regular fs-50">
    Насладись прогулкой в горах <br />
    с командой единомышленников
  </h1>

  <div class="search-panel">
    <form class="search-inner">
      <div class="search-field search-field--location">
        <label class="field-label bold fs-16" for="location-select">
          <span>Локация для тура</span>
          <img src="/images/down-arrow-icon.svg" class="field-icon" alt="arrow" />

          <select id="location-select" name="location" class="search-field__select" [(ngModel)]="selectedLocation">
            <option value="Горы">Горы</option>
            <option value="Озёра">Озёра</option>
            <option value="Море">Море</option>
          </select>
        </label>

        <span class="field-value regular fs-14">
          {{ selectedLocation ? selectedLocation : 'выберите из списка' }}
        </span>
      </div>

      <div class="search-field search-field--date">
        <label class="field-label bold fs-16" for="date-select">
          <span>Дата похода</span>
          <img src="/images/calendar-icon.svg" class="field-icon" alt="calendar" />

          <input 
            type="date" 
            id="date-select" 
            class="search-field__select" 
            [(ngModel)]="selectedDate" 
            name="date"
          />
        </label>

        <span class="field-value regular fs-14">
          {{ selectedDate ? selectedDate : 'укажите дату' }}
        </span>
      </div>

      <div class="search-field search-field--participants">
        <label class="field-label bold fs-16">
          <span>Участники</span>
          <img src="/images/down-arrow-icon.svg" class="field-icon" alt="arrow" />
          <select id="participants-select" name="participants" class="search-field__select" [(ngModel)]="selectedParticipants">
            <option value="1">1 участник</option>
            <option value="2">2 участника</option>
            <option value="3-5">3–5 участников</option>
            <option value="6+">Группа от 6 человек</option>
          </select>
        </label>

        <span class="field-value regular fs-14">
          {{ selectedParticipants ? selectedParticipants : 'выберите из списка' }}
        </span>
      </div>

      <button
        class="search-btn bold fs-16"
        [disabled]="!selectedLocation || !selectedDate || !selectedParticipants">
        Найти программу
      </button>
    </form>
  </div>

  <div class="input-alignment-wrapper">
    <div class="live-input-container">
      <div class="input-wrapper">
        <input [(ngModel)]="liveText" placeholder="Введите текст...">
        <img src="/images/arrow-input-icon.svg" class="arrow-input-icon" alt="стрелка" />
      </div>
      <span> {{ liveText }} </span>
    </div>
  </div>
</section>

<section class="about-hike">
  <div class="container">
    <div class="about-hike__images">
      <img src="/images/mountains-two-section.jpg" alt="Горы в тумане" class="about-hike__img--back">
      <img src="/images/house.jpg" alt="Домик в горах среди деревьев" class="about-hike__img--front">
      <img src="/images/play-icon.svg" alt="Воспроизвести видео" class="about-hike__play-btn">
    </div>

    <div class="about-hike__content">
      <span class="about-hike__subtitle regular fs-24">о нашем походе</span>
      <h2 class="about-hike__title extra-bold fs-32">Исследуйте все горные массивы мира вместе с нами</h2>
      <p class="about-hike__text regular fs-18">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
      <button 
        class="about-hike__btn semi-bold fs-16" 
        (click)="messageService.showWarn('Программа недоступна')">
        Программа тура
      </button>
    </div>
  </div>
</section> 

<section class="programs">
  <div class="container">
    <div class="programs__content">
      <div class="programs__header">
        <span class="programs__subtitle regular fs-24">наше предложения</span>
        <h2 class="programs__title extra-bold fs-32">Лучшие программы для тебя</h2>
      </div>
      <p class="programs__text regular fs-18">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>

      <div class="programs__list">
        @for (program of programs; track program.id) {
          <div class="programs__item">
            <img [src]="program.icon" alt="Иконка программы" class="programs__item-icon">
            <div class="programs__item-info">
              <h3 class="programs__item-title bold fs-18">{{ program.title }}</h3>
              <p class="programs__item-text regular fs-14">{{ program.description }}</p>
            </div>
          </div>
        }
      </div>
      <button
       class="programs__btn semi-bold fs-16"
       (click)="messageService.showInfo('Стоимость отправлена на почту')">
       Стоимость программ
      </button>
    </div>

    <div class="programs__images">
      @for (photo of programImages; track photo) {
        <img [src]="photo" alt="Фото программы" class="programs__image-item">
      }
    </div>
  </div>
</section>

<section class="popular-destinations">
  <div class="popular-destinations__header">
    <span class="popular-destinations-subtitle regular fs-24">по версии отдыхающих</span>
    <h2 class="popular-destinations-title extra-bold fs-32">Популярные направления</h2>
  </div>
  <div class="popular-destinations__cards">
    @for (card of destinations; track card.id) {
      <div class="card">
        <span class="card__rating bold fs-14">
          <img src="/images/star-icon.svg" alt="star" class="star-icon"> {{ card.rating }}
        </span>
        <img [src]="card.image" [alt]="card.title" class="card__image">
        <div class="card__content">
          <div class="card__text-wrapper">
            <h3 class="card__title bold fs-24">{{ card.title }}</h3>
            <p class="card__description regular fs-14">{{ card.description }}</p>
          </div>
          <span class="card__price bold fs-20">{{ card.price }}</span>
        </div>
      </div>
    }
  </div>
  <button
    class="button__rating semi-bold fs-16"
    (click)="messageService.showSuccess('Стоимость отправлена на почту')">
    Рейтинг направлений
  </button>
</section>

<section class="travel-blog">
  <div class="travel-blog__container">
    <div class="travel-blog__header">
      <span class="travel-blog__subtitle regular fs-24">делимся впечатленими</span>
      <h2 class="travel-blog__title extra-bold fs-32">Блог о путешествиях</h2>
    </div>
    <div class="travel-blog__cards">
      @for (card of travel; track card.id) {
        <div class="blog-card">
          <img [src]="card.image" [alt]="card.title" class="blog-card__image">
          <div class="blog-card__content">
            <h3 class="blog-card__title bold fs-24">{{ card.title }}</h3>
            <p class="blog-card__description regular fs-14">{{ card.description }}</p>
            <div class="blog-card__footer">
              <span class="blog-card__date bold fs-14">{{ card.date }}</span>
              <a href="#" class="blog-card__link bold fs-14">читать статью</a>
            </div>
          </div>
        </div>
      }
    </div>
    <button
      class="button__material semi-bold fs-16"
      (click)="messageService.showError('Материалы недоступны')">
      Другие материалы
    </button>
  </div>
</section>

<section class="photo-gallery">
  <div class="photo-gallery__container">
    <div class="photo-gallery__header">
      <span class="photo-gallery__subtitle regular fs-24">фото-отчет</span>
      <h2 class="photo-gallery__title extra-bold fs-32">Делимся впечатлениями</h2>
    </div>
    <div class="photo-gallery__items">
      @for (item of galleryItems; track item.id) {
        <div class="photo-gallery__item">
          <img [src]="item.image" alt="Фотография путешествия" class="photo-gallery__image">
        </div>
      }
    </div>
    <button
      class="button__pinterest semi-bold fs-16"
      (click)="messageService.showError('pinterest в процессе разработки')">
      Наш pinterest
    </button>
  </div>
</section>

