<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <fieldset class="form-section">
    <legend>Основная информация</legend>

    <label for="user-name">Имя</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="user-name"
      formControlName="name"
    />

    <label for="user-username">Никнейм</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="user-username"
      formControlName="username"
    />

    <label for="user-email">Email</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="user-email"
      formControlName="email"
    />

    <label for="user-phone">Телефон</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="user-phone"
      formControlName="phone"
    />

    <label for="user-website">Сайт</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="user-website"
      formControlName="website"
    />
  </fieldset>

  <fieldset formGroupName="address" class="form-section">
    <legend>Адрес</legend>

    <label for="address-city">Город</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="address-city"
      formControlName="city"
    />

    <label for="address-street">Улица</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="address-street"
      formControlName="street"
    />

    <label for="address-suite">Офис/Квартира</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="address-suite"
      formControlName="suite"
    />

    <label for="address-zipcode">Индекс</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="address-zipcode"
      formControlName="zipcode"
    />

    <fieldset formGroupName="geo" class="sub-section">
      <legend>Геолокация</legend>

      <label for="geo-lat">Широта</label>
      <input
        appGradient
        [GradientConfiguration]="gradientConfiguration"
        id="geo-lat"
        formControlName="lat"
      />

      <label for="geo-lng">Долгота</label>
      <input
        appGradient
        [GradientConfiguration]="gradientConfiguration"
        id="geo-lng"
        formControlName="lng"
      />
    </fieldset>
  </fieldset>

  <fieldset formGroupName="company" class="form-section">
    <legend>Компания</legend>

    <label for="company-name">Название</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="company-name"
      formControlName="name"
    />

    <label for="company-catchPhrase">Слоган</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="company-catchPhrase"
      formControlName="catchPhrase"
    />

    <label for="company-bs">Бизнес-сфера</label>
    <input
      appGradient
      [GradientConfiguration]="gradientConfiguration"
      id="company-bs"
      formControlName="bs"
    />
  </fieldset>

  <button appBold type="submit" [disabled]="userForm.invalid">Создать</button>
</form>
