@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
app-root {
  background-color: var(--bg-page-one);
}

body.dark-mode {
  --bg-page-one: #18121e;
  --bg-page-two: #25212b;
  --bg-page: #fdfdfd;
  --card-background: #302b35;
}

:root {
  --bg-header: rgba(24, 18, 30, 0.5);
  --bg-page: #18121e;
  --white-color-text: #fdfdfd;
  --yellow-color-text: #f2be22;
  --green-color-text: #1a3e3e;
  --bg-page-two: #f3f5f4;
  --color-dark: #1d3939;
  --color-accent: #d4a373;
  --color-muted: #667c7c;
  --bg-page-one: #ffffff;
  --card-background: #fdfdfd;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.extra-bold {
  font-weight: 800;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-50 {
  font-size: 50px;
}

html,
body {
  height: 100%;
}

@keyframes gradientBorder {
  0% {
    background-position:
      0 0,
      0% 50%;
  }

  50% {
    background-position:
      0 0,
      100% 50%;
  }

  100% {
    background-position:
      0 0,
      0% 50%;
  }
}