@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: rgba(24, 18, 30, 0.5);
  --bg-page: #18121e;
  --white-color-text: #fdfdfd;
  --yellow-color-text: #f2be22;
  --green-color-text: #1a3e3e;
  --bg-page-two: #F3F5F4;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.extra-bold {
  font-weight: 800;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-50 {
  font-size: 50px;
}
